In [1]:
# Data Preprocessing

In [2]:
# Importing the libraries
import numpy as np
import pandas as pd

In [3]:
# Importing the dataset
dataset = pd.read_csv('train.csv')

In [4]:
dataset

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...,...
550038,1005995,P00375436,F,36-45,1,C,2,1,20,NaN,NaN,596
550039,1005996,P00371644,F,26-35,0,B,1,1,20,NaN,NaN,595
550040,1005997,P00370853,F,26-35,7,A,3,0,19,NaN,NaN,26
550041,1006000,P00371644,M,46-50,17,B,2,1,20,NaN,NaN,488
550042,1006002,P00371644,M,51-55,0,C,1,1,20,NaN,NaN,243
550043,1006003,P00370293,F,46-50,17,C,1,0,19,NaN,NaN,48
550044,1006004,P00370853,F,26-35,15,C,2,0,19,NaN,NaN,62
550045,1006005,P00371644,F,26-35,5,C,2,1,20,NaN,NaN,252
550046,1006006,P00375436,F,0-17,0,C,1,0,20,NaN,NaN,236
550047,1006009,P00372445,F,26-35,12,C,3,0,20,NaN,NaN,244
550048,1006010,P00371644,M,36-45,0,C,1,0,20,NaN,NaN,591
550049,1006011,P00375436,M,36-45,15,C,3,0,20,NaN,NaN,473
550050,1006012,P00371644,M,36-45,15,C,4+,1,20,NaN,NaN,368
550051,1006013,P00375436,F,26-35,20,C,3,0,20,NaN,NaN,489
550052,1006016,P00375436,M,46-50,1,B,1,1,20,NaN,NaN,239
550053,1006017,P00371644,F,36-45,7,B,1,0,20,NaN,NaN,371
550054,1006018,P00370293,M,36-45,1,C,3,0,19,NaN,NaN,60
550055,1006019,P00372445,M,26-35,0,A,4+,0,20,NaN,NaN,238
550056,1006022,P00375436,M,26-35,17,C,4+,0,20,NaN,NaN,254
550057,1006023,P00370853,M,26-35,0,C,2,1,19,NaN,NaN,61
550058,1006024,P00372445,M,26-35,12,A,0,1,20,NaN,NaN,121
550059,1006025,P00370853,F,26-35,1,B,1,0,19,NaN,NaN,48
550060,1006026,P00371644,M,36-45,6,C,1,1,20,NaN,NaN,494
550061,1006029,P00372445,F,26-35,1,C,1,1,20,NaN,NaN,599
550062,1006032,P00372445,M,46-50,7,A,3,0,20,NaN,NaN,473
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [5]:
dataset = dataset.drop(['Product_ID'], axis = 1)

In [6]:
dataset

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,F,51-55,9,A,1,0,5,14.0,NaN,8851
18,1000007,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,M,26-35,12,C,4+,1,5,14.0,NaN,8584
21,1000008,M,26-35,12,C,4+,1,8,NaN,NaN,9872
22,1000008,M,26-35,12,C,4+,1,8,NaN,NaN,9743
23,1000008,M,26-35,12,C,4+,1,8,NaN,NaN,5982
24,1000008,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,M,26-35,17,C,0,0,6,8.0,NaN,16662
26,1000009,M,26-35,17,C,0,0,8,NaN,NaN,5887
27,1000009,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...
550038,1005995,F,36-45,1,C,2,1,20,NaN,NaN,596
550039,1005996,F,26-35,0,B,1,1,20,NaN,NaN,595
550040,1005997,F,26-35,7,A,3,0,19,NaN,NaN,26
550041,1006000,M,46-50,17,B,2,1,20,NaN,NaN,488
550042,1006002,M,51-55,0,C,1,1,20,NaN,NaN,243
550043,1006003,F,46-50,17,C,1,0,19,NaN,NaN,48
550044,1006004,F,26-35,15,C,2,0,19,NaN,NaN,62
550045,1006005,F,26-35,5,C,2,1,20,NaN,NaN,252
550046,1006006,F,0-17,0,C,1,0,20,NaN,NaN,236
550047,1006009,F,26-35,12,C,3,0,20,NaN,NaN,244
550048,1006010,M,36-45,0,C,1,0,20,NaN,NaN,591
550049,1006011,M,36-45,15,C,3,0,20,NaN,NaN,473
550050,1006012,M,36-45,15,C,4+,1,20,NaN,NaN,368
550051,1006013,F,26-35,20,C,3,0,20,NaN,NaN,489
550052,1006016,M,46-50,1,B,1,1,20,NaN,NaN,239
550053,1006017,F,36-45,7,B,1,0,20,NaN,NaN,371
550054,1006018,M,36-45,1,C,3,0,19,NaN,NaN,60
550055,1006019,M,26-35,0,A,4+,0,20,NaN,NaN,238
550056,1006022,M,26-35,17,C,4+,0,20,NaN,NaN,254
550057,1006023,M,26-35,0,C,2,1,19,NaN,NaN,61
550058,1006024,M,26-35,12,A,0,1,20,NaN,NaN,121
550059,1006025,F,26-35,1,B,1,0,19,NaN,NaN,48
550060,1006026,M,36-45,6,C,1,1,20,NaN,NaN,494
550061,1006029,F,26-35,1,C,1,1,20,NaN,NaN,599
550062,1006032,M,46-50,7,A,3,0,20,NaN,NaN,473
550063,1006033,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [7]:
BlackFridayTrainNew = dataset.copy(deep=True)

In [8]:
BlackFridayTrainNew.loc[BlackFridayTrainNew['Gender'] == 'F', 'Gender'] = 0
BlackFridayTrainNew.loc[BlackFridayTrainNew['Gender'] == 'M', 'Gender'] = 1

BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '0-17', 'Age'] = 0
BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '18-25', 'Age'] = 1
BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '26-35', 'Age'] = 2
BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '36-45', 'Age'] = 3
BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '46-50', 'Age'] = 4
BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '51-55', 'Age'] = 5
BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '55+', 'Age'] = 6

BlackFridayTrainNew.loc[BlackFridayTrainNew['Stay_In_Current_City_Years'] == '4+', 'Stay_In_Current_City_Years'] = 4

BlackFridayTrainNew.loc[BlackFridayTrainNew['City_Category'] == 'A', 'City_Category'] = 0
BlackFridayTrainNew.loc[BlackFridayTrainNew['City_Category'] == 'B', 'City_Category'] = 1
BlackFridayTrainNew.loc[BlackFridayTrainNew['City_Category'] == 'C', 'City_Category'] = 2


BlackFridayTrainNew['Gender'] = BlackFridayTrainNew['Gender'].astype(int)
BlackFridayTrainNew['Age'] = BlackFridayTrainNew['Age'].astype(int)
BlackFridayTrainNew['City_Category'] = BlackFridayTrainNew['City_Category'].astype(int)
BlackFridayTrainNew['Stay_In_Current_City_Years'] = BlackFridayTrainNew['Stay_In_Current_City_Years'].astype(int)

In [9]:
BlackFridayTrainNew.head()

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,0,0,10,0,2,0,3,NaN,NaN,8370
1,1000001,0,0,10,0,2,0,1,6.0,14.0,15200
2,1000001,0,0,10,0,2,0,12,NaN,NaN,1422
3,1000001,0,0,10,0,2,0,12,14.0,NaN,1057
4,1000002,1,6,16,2,4,0,8,NaN,NaN,7969

In [10]:
X = BlackFridayTrainNew.iloc[:,:-1].values
y = BlackFridayTrainNew.iloc[:,10].values

In [11]:
X

array([[1.000001e+06, 0.000000e+00, 0.000000e+00, ..., 3.000000e+00,
                 nan,          nan],
       [1.000001e+06, 0.000000e+00, 0.000000e+00, ..., 1.000000e+00,
        6.000000e+00, 1.400000e+01],
       [1.000001e+06, 0.000000e+00, 0.000000e+00, ..., 1.200000e+01,
                 nan,          nan],
       ...,
       [1.006036e+06, 0.000000e+00, 2.000000e+00, ..., 2.000000e+01,
                 nan,          nan],
       [1.006038e+06, 0.000000e+00, 6.000000e+00, ..., 2.000000e+01,
                 nan,          nan],
       [1.006039e+06, 0.000000e+00, 4.000000e+00, ..., 2.000000e+01,
                 nan,          nan]])

In [12]:
y

array([ 8370, 15200,  1422, ...,   137,   365,   490], dtype=int64)

In [13]:
# removing missing values
from sklearn.impute import SimpleImputer
missingvalues = SimpleImputer(missing_values = np.nan, strategy = 'mean', verbose = 0)
missingvalues = missingvalues.fit(X[:, 8:10])
X[:,8:10]=missingvalues.transform(X[:, 8:10])

In [14]:
X

array([[1.00000100e+06, 0.00000000e+00, 0.00000000e+00, ...,
        3.00000000e+00, 9.84232925e+00, 1.26682432e+01],
       [1.00000100e+06, 0.00000000e+00, 0.00000000e+00, ...,
        1.00000000e+00, 6.00000000e+00, 1.40000000e+01],
       [1.00000100e+06, 0.00000000e+00, 0.00000000e+00, ...,
        1.20000000e+01, 9.84232925e+00, 1.26682432e+01],
       ...,
       [1.00603600e+06, 0.00000000e+00, 2.00000000e+00, ...,
        2.00000000e+01, 9.84232925e+00, 1.26682432e+01],
       [1.00603800e+06, 0.00000000e+00, 6.00000000e+00, ...,
        2.00000000e+01, 9.84232925e+00, 1.26682432e+01],
       [1.00603900e+06, 0.00000000e+00, 4.00000000e+00, ...,
        2.00000000e+01, 9.84232925e+00, 1.26682432e+01]])

In [15]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X= sc_X.fit_transform(X)
sc_y = StandardScaler()
y= sc_y.fit_transform(y.reshape(-1,1))

In [16]:
# Fitting Decision Tree Regression to the dataset
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=0, splitter='best')

In [17]:
# Importing test dataset
dataset1 = pd.read_csv('test.csv')

In [18]:
dataset1

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0
5,1000013,P00350442,M,46-50,1,C,3,1,2,3.0,15.0
6,1000013,P00155442,M,46-50,1,C,3,1,1,11.0,15.0
7,1000013,P0094542,M,46-50,1,C,3,1,2,4.0,9.0
8,1000015,P00161842,M,26-35,7,A,1,0,10,13.0,16.0
9,1000022,P00067942,M,18-25,15,A,4+,0,5,14.0,NaN
10,1000026,P00046742,M,26-35,7,B,2,1,1,2.0,15.0
11,1000026,P00040042,M,26-35,7,B,2,1,5,NaN,NaN
12,1000026,P00196542,M,26-35,7,B,2,1,5,8.0,14.0
13,1000026,P00004542,M,26-35,7,B,2,1,5,8.0,NaN
14,1000028,P00159542,F,26-35,1,C,2,1,10,15.0,16.0
15,1000029,P00111542,M,36-45,7,C,1,0,2,17.0,NaN
16,1000033,P00121042,M,46-50,3,A,1,1,15,NaN,NaN
17,1000033,P00344442,M,46-50,3,A,1,1,5,8.0,14.0
18,1000034,P00265242,F,18-25,0,A,0,0,5,8.0,NaN
19,1000035,P0096642,M,46-50,1,C,4+,1,2,3.0,4.0
20,1000036,P00303042,M,26-35,3,B,0,0,5,NaN,NaN
21,1000036,P00059642,M,26-35,3,B,0,0,1,2.0,3.0
22,1000042,P00030842,M,26-35,8,C,0,1,1,2.0,15.0
23,1000045,P00346442,F,46-50,16,A,1,1,1,2.0,14.0
24,1000045,P00357242,F,46-50,16,A,1,1,5,NaN,NaN
25,1000045,P00284742,F,46-50,16,A,1,1,5,12.0,NaN
26,1000048,P00110842,M,26-35,4,B,3,1,1,2.0,5.0
27,1000048,P00251642,M,26-35,4,B,3,1,1,2.0,4.0
28,1000053,P00136742,M,26-35,0,B,1,0,1,14.0,16.0
29,1000053,P0097342,M,26-35,0,B,1,0,1,15.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...
233569,1005996,P00184242,F,26-35,0,B,1,1,9,15.0,NaN
233570,1005996,P00045342,F,26-35,0,B,1,1,1,5.0,17.0
233571,1006001,P00124642,F,26-35,7,A,0,1,16,NaN,NaN
233572,1006002,P00121142,M,51-55,0,C,1,1,8,NaN,NaN
233573,1006002,P00233542,M,51-55,0,C,1,1,1,15.0,NaN
233574,1006002,P00226342,M,51-55,0,C,1,1,11,15.0,NaN
233575,1006002,P00284842,M,51-55,0,C,1,1,1,8.0,17.0
233576,1006003,P00313342,F,46-50,17,C,1,0,5,NaN,NaN
233577,1006010,P00223542,M,36-45,0,C,1,0,1,8.0,17.0
233578,1006013,P00020342,F,26-35,20,C,3,0,1,2.0,NaN
233579,1006016,P00014842,M,46-50,1,B,1,1,1,2.0,5.0
233580,1006016,P00109542,M,46-50,1,B,1,1,8,14.0,17.0
233581,1006018,P00071442,M,36-45,1,C,3,0,15,17.0,NaN
233582,1006021,P00112542,M,26-35,12,B,2,1,1,11.0,15.0
233583,1006021,P00003442,M,26-35,12,B,2,1,4,5.0,8.0
233584,1006023,P00262242,M,26-35,0,C,2,1,1,11.0,16.0
233585,1006025,P00161142,F,26-35,1,B,1,0,11,NaN,NaN
233586,1006026,P00110742,M,36-45,6,C,1,1,1,2.0,8.0
233587,1006028,P00162442,M,18-25,4,A,4+,0,1,16.0,NaN
233588,1006030,P00129842,M,26-35,17,C,1,1,6,8.0,15.0
233589,1006030,P00241442,M,26-35,17,C,1,1,2,15.0,NaN
233590,1006032,P00252442,M,46-50,7,A,3,0,8,NaN,NaN
233591,1006033,P00127642,M,51-55,13,B,1,1,1,2.0,15.0
233592,1006035,P00135742,F,26-35,1,C,3,0,6,8.0,NaN
233593,1006036,P00255442,F,26-35,15,B,4+,1,8,NaN,NaN
233594,1006036,P00118942,F,26-35,15,B,4+,1,8,NaN,NaN
233595,1006036,P00254642,F,26-35,15,B,4+,1,5,8.0,NaN
233596,1006036,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0
233597,1006037,P00124742,F,46-50,1,C,4+,0,10,16.0,NaN
233598,1006039,P00316642,F,46-50,0,B,4+,1,4,5.0,NaN

In [19]:
dataset1 = dataset1.drop(['Product_ID'], axis = 1)

In [20]:
BlackFridayTestNew = dataset1.copy(deep=True)

In [22]:
BlackFridayTestNew.loc[BlackFridayTestNew['Gender'] == 'F', 'Gender'] = 0
BlackFridayTestNew.loc[BlackFridayTestNew['Gender'] == 'M', 'Gender'] = 1

BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '0-17', 'Age'] = 0
BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '18-25', 'Age'] = 1
BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '26-35', 'Age'] = 2
BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '36-45', 'Age'] = 3
BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '46-50', 'Age'] = 4
BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '51-55', 'Age'] = 5
BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '55+', 'Age'] = 6

BlackFridayTestNew.loc[BlackFridayTestNew['Stay_In_Current_City_Years'] == '4+', 'Stay_In_Current_City_Years'] = 4

BlackFridayTestNew.loc[BlackFridayTestNew['City_Category'] == 'A', 'City_Category'] = 0
BlackFridayTestNew.loc[BlackFridayTestNew['City_Category'] == 'B', 'City_Category'] = 1
BlackFridayTestNew.loc[BlackFridayTestNew['City_Category'] == 'C', 'City_Category'] = 2


BlackFridayTestNew['Gender'] = BlackFridayTestNew['Gender'].astype(int)
BlackFridayTestNew['Age'] = BlackFridayTestNew['Age'].astype(int)
BlackFridayTestNew['City_Category'] = BlackFridayTestNew['City_Category'].astype(int)
BlackFridayTestNew['Stay_In_Current_City_Years'] = BlackFridayTestNew['Stay_In_Current_City_Years'].astype(int)

C:\Users\sharathchandrika\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [23]:
BlackFridayTestNew

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,1,4,7,1,2,1,1,11.0,NaN
1,1000009,1,2,17,2,0,0,3,5.0,NaN
2,1000010,0,3,1,1,4,1,5,14.0,NaN
3,1000010,0,3,1,1,4,1,4,9.0,NaN
4,1000011,0,2,1,2,1,0,4,5.0,12.0
5,1000013,1,4,1,2,3,1,2,3.0,15.0
6,1000013,1,4,1,2,3,1,1,11.0,15.0
7,1000013,1,4,1,2,3,1,2,4.0,9.0
8,1000015,1,2,7,0,1,0,10,13.0,16.0
9,1000022,1,1,15,0,4,0,5,14.0,NaN
10,1000026,1,2,7,1,2,1,1,2.0,15.0
11,1000026,1,2,7,1,2,1,5,NaN,NaN
12,1000026,1,2,7,1,2,1,5,8.0,14.0
13,1000026,1,2,7,1,2,1,5,8.0,NaN
14,1000028,0,2,1,2,2,1,10,15.0,16.0
15,1000029,1,3,7,2,1,0,2,17.0,NaN
16,1000033,1,4,3,0,1,1,15,NaN,NaN
17,1000033,1,4,3,0,1,1,5,8.0,14.0
18,1000034,0,1,0,0,0,0,5,8.0,NaN
19,1000035,1,4,1,2,4,1,2,3.0,4.0
20,1000036,1,2,3,1,0,0,5,NaN,NaN
21,1000036,1,2,3,1,0,0,1,2.0,3.0
22,1000042,1,2,8,2,0,1,1,2.0,15.0
23,1000045,0,4,16,0,1,1,1,2.0,14.0
24,1000045,0,4,16,0,1,1,5,NaN,NaN
25,1000045,0,4,16,0,1,1,5,12.0,NaN
26,1000048,1,2,4,1,3,1,1,2.0,5.0
27,1000048,1,2,4,1,3,1,1,2.0,4.0
28,1000053,1,2,0,1,1,0,1,14.0,16.0
29,1000053,1,2,0,1,1,0,1,15.0,16.0
...,...,...,...,...,...,...,...,...,...,...
233569,1005996,0,2,0,1,1,1,9,15.0,NaN
233570,1005996,0,2,0,1,1,1,1,5.0,17.0
233571,1006001,0,2,7,0,0,1,16,NaN,NaN
233572,1006002,1,5,0,2,1,1,8,NaN,NaN
233573,1006002,1,5,0,2,1,1,1,15.0,NaN
233574,1006002,1,5,0,2,1,1,11,15.0,NaN
233575,1006002,1,5,0,2,1,1,1,8.0,17.0
233576,1006003,0,4,17,2,1,0,5,NaN,NaN
233577,1006010,1,3,0,2,1,0,1,8.0,17.0
233578,1006013,0,2,20,2,3,0,1,2.0,NaN
233579,1006016,1,4,1,1,1,1,1,2.0,5.0
233580,1006016,1,4,1,1,1,1,8,14.0,17.0
233581,1006018,1,3,1,2,3,0,15,17.0,NaN
233582,1006021,1,2,12,1,2,1,1,11.0,15.0
233583,1006021,1,2,12,1,2,1,4,5.0,8.0
233584,1006023,1,2,0,2,2,1,1,11.0,16.0
233585,1006025,0,2,1,1,1,0,11,NaN,NaN
233586,1006026,1,3,6,2,1,1,1,2.0,8.0
233587,1006028,1,1,4,0,4,0,1,16.0,NaN
233588,1006030,1,2,17,2,1,1,6,8.0,15.0
233589,1006030,1,2,17,2,1,1,2,15.0,NaN
233590,1006032,1,4,7,0,3,0,8,NaN,NaN
233591,1006033,1,5,13,1,1,1,1,2.0,15.0
233592,1006035,0,2,1,2,3,0,6,8.0,NaN
233593,1006036,0,2,15,1,4,1,8,NaN,NaN
233594,1006036,0,2,15,1,4,1,8,NaN,NaN
233595,1006036,0,2,15,1,4,1,5,8.0,NaN
233596,1006036,0,2,15,1,4,1,1,5.0,12.0
233597,1006037,0,4,1,2,4,0,10,16.0,NaN
233598,1006039,0,4,0,1,4,1,4,5.0,NaN

In [24]:
X = BlackFridayTestNew.iloc[:,:-1].values

In [27]:
# removing missing values
from sklearn.impute import SimpleImputer
missingvalues = SimpleImputer(missing_values = np.nan, strategy = 'mean', verbose = 0)
missingvalues = missingvalues.fit(X[:, 8:10])
X[:,8:10]=missingvalues.transform(X[:, 8:10])

In [28]:
X

array([[1.000004e+06, 1.000000e+00, 4.000000e+00, ..., 1.000000e+00,
        1.000000e+00, 1.100000e+01],
       [1.000009e+06, 1.000000e+00, 2.000000e+00, ..., 0.000000e+00,
        3.000000e+00, 5.000000e+00],
       [1.000010e+06, 0.000000e+00, 3.000000e+00, ..., 1.000000e+00,
        5.000000e+00, 1.400000e+01],
       ...,
       [1.006036e+06, 0.000000e+00, 2.000000e+00, ..., 1.000000e+00,
        1.000000e+00, 5.000000e+00],
       [1.006037e+06, 0.000000e+00, 4.000000e+00, ..., 0.000000e+00,
        1.000000e+01, 1.600000e+01],
       [1.006039e+06, 0.000000e+00, 4.000000e+00, ..., 1.000000e+00,
        4.000000e+00, 5.000000e+00]])

In [34]:
# Fitting Decision Tree Regression to the dataset
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)